// Para crear una sobre escritura de variables
@import "../node_modules/materialize-css/sass/components/_color.scss";

$primary-color: color("grey", "lighten-4");


// Estilos material design
@import "../node_modules/materialize-css/sass/materialize.scss";

// Estilos generales
// 
body{display:flex; min-height:100vh; flex-direction:column; color:#17324A;}
main{flex:1 0 auto;}

h1{font-size:32px; margin:2px 0px 5px -5px; }
h2{font-size:22px; margin:2px 0px; }
h3{font-size:18px; margin:2px 0px; }
h4{font-size:16px; margin:2px 0px; }


footer.page-footer .footer-copyright,
.grey-text.text-lighten-4{color:#2A2A2A!important;}

article{border-bottom:1px solid #929292; margin-bottom:20px; padding:5px; position:relative; }
article time{font-size:10px; position:absolute; top:0px; right:5px; color:#3371A9; font-weight:normal; transition: all 0.5s ease; opacity:0;}
article:hover time{display:block; opacity:1;}

section{background:#FFF; border:1px solid transparent; padding:0px 5px; margin-bottom:5px; position:relative;}

